 body { font-family: Arial; padding: 20px; background-color:lightpink ; }
    input { padding: 8px; width: 200px; }
    .box{
        background-color: aquamarine;
        height: 500px;
        width: 400px;
        margin: ; top: 20px;
    }
    button { padding: 8px; }
    ul { list-style-type: none; padding: 0; }
    li { margin: 5px 0; padding: 5px; background: #f0f0f0; display: flex; justify-content: space-between; }